.App {
  text-align: center;
  background-color: #ffff;
  color: #000;
  margin: 0; 
  padding: 0; 
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.MuiFormLabel-root.Mui-focused {
  color: #007bff !important; 
}

.MuiInput-underline:after { 
  border-bottom: 2px solid #007bff !important;
}

.MuiBadge-colorPrimary {
  background-color: #2196f3 !important;
}

.MuiBadge-colorSecondary {
  background-color: #ff3d00 !important;
}